<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                    data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading">
                    <a href="/admin" class="<%= action == "dashboard" ? "mm-active" : "" %>">Dashboard</a>
                </li>
                <li class="<%= action.includes("ngo") ? "mm-active" : "" %>">
                    <a href="#">
                        <i class="metismenu-icon pe-7s-diamond"></i>
                        NGOs
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="/admin/allngos" class="<%= action == "allngos" ? "mm-active" : "" %>">All NGO's
                                Details</a>
                        </li>
                        <li>
                            <a href="/admin/allngos" class="<%= action == "allngos" ? "mm-active" : "" %>">Approved
                                NGOs</a>
                        </li>
                        <li>
                            <a href="/admin/allngos" class="<%= action == "allngos" ? "mm-active" : "" %>">Unapproved
                                NGOs</a>
                        </li>
                        <li>
                            <a href="/admin/allngos" class="<%= action == "allngos" ? "mm-active" : "" %>">Pending
                                Approval
                                NGOs</a>
                        </li>
                    </ul>
                </li>
                <li class="app-sidebar__heading">
                    <a href="/admin/alluser" class="<%= action == "alluser" ? "mm-active" : "" %>">All User's
                        Details</a>
                </li>
            </ul>
        </div>
    </div>
</div>