<% extend ('../../layout')%>
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="metismenu-icon fa fa-money-bill fa-w-6 icon-gradient bg-mean-fruit"></i>
            </div>
            <div class="row">
                Listing All Payment Methods
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">ALL Payment Methods</h5>
        <table class="mb-0 table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Provider Name</th>
                    <th>Account Holder Name</th>
                    <th>Account Number</th>
                    <th>EDIT</th>
                </tr>
            </thead>
            <tbody>
                <% payments.forEach((u)=>{%>
                <tr>
                    <td>
                        <%= u.name %>
                    </td>
                    <td>
                        <%= u.providerName %>
                    </td>
                    <td>
                        <%= u.accountHolderName %>
                    </td>
                    <td>
                        <%= u.accountNumber %>
                    </td>
                    <td>
                        <a href="/ngo/paymentEdit?id=<%= u.id%>" class="btn btn-sm btn-warning">EDIT</a>
                    </td>
                </tr>
                <%});%>
            </tbody>
        </table>
    </div>
</div>