<% extend ('../../layout')%>
<link rel="stylesheet" type="text/css" href="/public/bootstrap/custom.css" />
<script src="/public/js/ngo/ngoProfile.js"></script>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="metismenu-icon fa fa-handshake fa-w-6 icon-gradient bg-mean-fruit"></i>
            </div>
            <div>
                NGO My Profile
            </div>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title"><%= ngo.name %>'s Detail</h5>
        <div class="container emp-profile">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <% if (ngo.image && ngo.image.length > 1 ){ %>
                        <img src="<%= ngo.image %>" alt="" id="profileImage" />
                        <% } else {%>
                        <img src="/public/images/choose.png" alt="" id="profileImage" />
                        <%}%>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                        <h5><%= ngo.name %></h5>
                        <h6><%= ngo.email %></h6>
                        <h6><%= ngo.address %></h6>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="editProfile-tab" data-toggle="tab" href="#editProfile"
                                    role="tab" aria-controls="editProfile" aria-selected="true">Edit Profile</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>Choose Profile Image</p>
                    <input type="file" class="form-control" id="selectImage" accept="image/*" required />
                    <br />
                    <div class="profile-work profile-head">
                        <p>Personal Information</p>
                        <label>Name</label>
                        <h6><%= ngo.name %></h6>
                        <label>Email</label>
                        <h6><%= ngo.email %></h6>
                        <label>Contact</label>
                        <h6><%= ngo.phone %></h6>
                        <label>Category</label>
                        <h6><%= ngo.category %></h6>
                        <label>Working Since</label>
                        <h6><%= ngo.workingSince %></h6>
                        <label>Level of Action</label>
                        <h6><%= ngo.levelOfAction %></h6>
                        <label>Address</label>
                        <h6><%= ngo.address %></h6>
                        <label>Website</label><br />
                        <h6>
                            <a href="<%= ngo.website%>" target="_blank">CLICK TO OPEN</a>
                        </h6>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="editProfile" role="tabpanel"
                            aria-labelledby="editProfile-tab">
                            <form method="POST" action="/ngo/update">
                                <input type="hidden" class="form-control" id="imageUrl" name="image"
                                    value="<%= ngo.image %>" />
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>NGO Category</label>
                                        <select class="form-control" name="ngoCategory" required>
                                            <option value="Business-Friendly International NGO"
                                                <%= ngo.category === "Business-Friendly International NGO" ? "selected" : "" %>>
                                                Business-Friendly International NGO
                                            </option>
                                            <option value="Operational NGO"
                                                <%= ngo.category === "Operational NGO" ? "selected" : "" %>>
                                                Operational NGO
                                            </option>
                                            <option value="Advocacy NGO"
                                                <%= ngo.category === "Advocacy NGO" ? "selected" : "" %>>
                                                Advocacy NGO
                                            </option>
                                            <option value="Environmental NGO"
                                                <%= ngo.category === "Environmental NGO" ? "selected" : "" %>>
                                                Environmental NGO
                                            </option>
                                            <option value="Animal NGO"
                                                <%= ngo.category === "Animal NGO" ? "selected" : "" %>>
                                                Animal NGO
                                            </option>
                                            <option value="WOMEN NGO"
                                                <%= ngo.category === "WOMEN NGO" ? "selected" : "" %>>
                                                WOMEN NGO
                                            </option>
                                            <option value="Health Charities"
                                                <%= ngo.category === "Health Charities" ? "selected" : "" %>>
                                                Health Charities
                                            </option>
                                            <option value="Education Charities"
                                                <%= ngo.category === "Education Charities" ? "selected" : "" %>>
                                                Education Charities
                                            </option>
                                            <option value="Arts & Culture Charties"
                                                <%= ngo.category === "Arts & Culture Charties" ? "selected" : "" %>>
                                                Arts & Culture Charties
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Email</label>
                                        <input name="email" type="email" class="form-control" placeholder="Email"
                                            value="<%= ngo.email %>" readonly />
                                    </div>
                                    <div class="col-md-12">
                                        <label>Name</label>
                                        <input name="name" type="text" class="form-control" placeholder="Name"
                                            value="<%= ngo.name %>" />
                                    </div>
                                    <div class="col-md-12">
                                        <label>Phone Number</label>
                                        <input name="phone" type="text" class="form-control" placeholder="Phone"
                                            value="<%= ngo.phone %>" />
                                    </div>
                                    <div class="col-md-12">
                                        <label>Address</label>
                                        <input name="address" type="text" class="form-control" placeholder="Address"
                                            value="<%= ngo.address %>" />
                                    </div>
                                    <div class="col-md-12">
                                        <label>Website</label>
                                        <input name="website" type="text" class="form-control" placeholder="Website"
                                            value="<%= ngo.website %>" />
                                    </div>
                                    <div class="col-md-12">
                                        <label>Working Since</label>
                                        <input name="workingSince" type="date" class="form-control"
                                            placeholder="Working Since" value="<%= ngo.workingSince %>" />
                                    </div>
                                    <div class="col-md-12">
                                        <label>Level of Action</label>
                                        <select name="levelOfAction" class="form-control">
                                            <option value="Regional"
                                                <%= ngo.levelOfAction === "Regional" ? "selected" : "" %>>
                                                Regional
                                            </option>
                                            <option value="National"
                                                <%= ngo.levelOfAction === "National" ? "selected" : "" %>>
                                                National
                                            </option>
                                            <option value="International"
                                                <%= ngo.levelOfAction === "International" ? "selected" : "" %>>
                                                International
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <label>NGO Vision</label>
                                        <textarea name="vision" class="form-control"><%= ngo.vision %></textarea>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <input id="submitProfile" type="submit" value="UPDATE PROFILE"
                                            class="btn btn-primary btn-block" />
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>