<% extend ('../../layout')%>
<link rel="stylesheet" type="text/css" href="/public/bootstrap/custom.css" />
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="metismenu-icon fa fa-money-bill fa-w-6 icon-gradient bg-mean-fruit"></i>
            </div>
            <div class="row">
                Payment Method Detail
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title"> <%= payment.name %>'s Detail</h5>
        <div class="container emp-profile">
            <form method="post">
                <div class="row">
                    
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h5>
                                <%=payment.name%>
                            </h5>
                            <h5>
                                <%=payment.accountNumber%>
                            </h5>
                            <h5>
                                <%=payment.accountHolderName%>
                            </h5>
                            <h5>
                                <%=payment.providerName%>
                            </h5>
                           


                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>