<% extend ('../../layout')%>
<link rel="stylesheet" type="text/css" href="/public/bootstrap/productDetail.css" />
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-car icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>
                Product Detail
            </div>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div id="wrapper">
        <div id="container">

            <div id="img-wrap">

                <ul class="images">
                    <li class="big-img">
                        <img src="<%= product.images[0] %>" />
                    </li>
                    <% product.images.forEach(i=>{%>
                    <li>
                        <img src="<%= i %>" />
                    </li>
                    <%})%>
                </ul>
            </div>

            <div class="info">
                <div class="row">
                    <div class="col-md-12">
                        <h1><%= product.name %></h1>
                    </div>

                    <div class="col-md-12">
                        <h2><%= product.category%></h2>
                    </div>
                </div>


                <p><%= product.description %></p>

                <div class="row">
                    <div class="col-md-12">
                        <p id="pricing">Address</p>
                        <h5 id="price"><%= product.address %></h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p id="pricing">Quantity</p>
                        <h5 id="price"><%= product.quantityOfProducts %></h5>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p id="coloring">Contact Number</p>
                        <h5 id="price"><%= product.phoneno %></h5>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a style="margin-top: 10px; font-size: 16px;" href="/ngo/claim?id=<%= product.id%>"
                            class="btn btn-primary btn-block">CLAIM PRODUCT</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>