<% extend ('../../layout')%>
<link rel="stylesheet" type="text/css" href="/public/bootstrap/custom.css" />
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="metismenu-icon fa fa-truck fa-w-6 icon-gradient bg-mean-fruit"></i>
            </div>
            <div class="row">
                Rider Detail
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title"> <%= rider.fname %>'s DETAIL</h5>
        <div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <% if(rider.image && rider.image.length>1){%>
                            <img src="<%= rider.image %>" alt="" />
                            <%} else{%>
                            <img src="/public/images/user.jpg" alt="" />
                            <%}%>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h5>
                                <%=rider.fname%> <%=rider.lname%>
                            </h5>
                            <h6>
                                <%=rider.email%>
                            </h6>

                            <h6>
                                <%=rider.phone%>
                            </h6>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>