<% extend ('../../admin_layout')%>
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-car icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div class="row">
                Listing all Users
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">ALL Users</h5>
        <table class="mb-0 table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>DETAILS</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((u)=>{%>
                <tr>
                    <td>
                        <%= u.fname %> <%= u.lname %>
                    </td>
                    <td>
                        <%= u.email %>
                    </td>
                    <td>
                        <%= u.phone %>
                    </td>
                    <td>
                        <a href="/admin/userDetail?id=<%= u.id%>" class="btn btn-sm btn-primary">Details</a>
                    </td>
                </tr>
                <%});%>
            </tbody>
        </table>
    </div>
</div>