<% extend ('../../admin_layout')%>
<link rel="stylesheet" type="text/css" href="/public/bootstrap/custom.css" />
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="metismenu-icon fa fa-handshake fa-w-6 icon-gradient bg-mean-fruit"></i>
            </div>
            <div class="row">
                NGO Detail
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title"><%= ngo.name %>'s Detail</h5>
        <div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <% if (ngo.image && ngo.image.length > 1 ){ %>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                                alt="" />
                            <% } %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h5>
                                <%= ngo.name %>
                            </h5>
                            <h6>
                                <%= ngo.email %>
                            </h6>
                            <h6>
                                <%= ngo.address %>
                            </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="payment-tab" data-toggle="tab" href="#payment"
                                        role="tab" aria-controls="payment" aria-selected="true">Payment Methods</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="products-tab" data-toggle="tab" href="#products" role="tab"
                                        aria-controls="products" aria-selected="false">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="riders-tab" data-toggle="tab" href="#riders" role="tab"
                                        aria-controls="riders" aria-selected="false">Riders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="donations-tab" data-toggle="tab" href="#donations"
                                        role="tab" aria-controls="donations" aria-selected="false">Donations</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>Personal Information</p>
                            <a href=""><%= ngo.name %></a><br />
                            <a href=""><%= ngo.email %></a><br />
                            <a href=""><%= ngo.phone %></a><br />
                            <a href=""><%= ngo.address %></a><br /><br />
                            <a href="">
                                Account Status
                                <u>
                                    <% if(ngo.approved === 0) {%>
                                    Pending Approval
                                    <%}%>
                                    <% if(ngo.approved === 1) {%>
                                    Active
                                    <%}%>
                                    <% if(ngo.approved === -1) {%>
                                    Block
                                    <%}%>
                                </u>
                            </a><br /><br />
                            <% if (ngo.approved === 0) {%>
                                    <a href="/admin/approveNgo?id=<%= ngo.id%>" class="btn btn-block btn-success"
                                        style="color: #F0F0F0;">Approve
                                        Account</a>
                                    <%}%>
                            <% if (ngo.approved === 1) {%>
                                    <a href="/admin/blockNgo?id=<%= ngo.id%>" class="btn btn-block btn-danger"
                                        style="color: #F0F0F0;">Block
                                        Account</a>
                                    <%}%>

                                <% if (ngo.approved === -1) {%>
                                    <a href="/admin/approveNgo?id=<%= ngo.id%>" class="btn btn-block btn-success"
                                        style="color: #F0F0F0;">Unlock
                                        Account</a>
                                    <%}%>
        
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Kshiti123</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Kshiti Ghelani</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>kshitighelani@gmail.com</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>123 456 7890</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Profession</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Web Developer and Designer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Hourly Rate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>10$/hr</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>230</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>6 months</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br />
                                        <p>Your detail description</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="riders" role="tabpanel" aria-labelledby="riders-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Hourly Rate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>10$/hr</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>230</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>6 months</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br />
                                        <p>Your detail description</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="donations" role="tabpanel" aria-labelledby="donations-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Hourly Rate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>10$/hr</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>230</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>6 months</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br />
                                        <p>Your detail description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>