<% extend ('../../admin_layout')%>
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-car icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div class="row">
                NGO Detail
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title"><%= ngo.name %>'s Detail</h5>
        <div class="container">
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-12"></div>
            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
                <h4><%= ngo.name %></h4>
                <div class="row" style="background-color: cadetblue;">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h4>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <%= ngo.email %>
                        </h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h4>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <%= ngo.phone %>
                        </h4>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4>
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                            <%= ngo.address %>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12"></div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a href="/admin/ngoEdit?id=<%= ngo.id%>" class="btn btn-block btn-warning">Edit</a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12"></div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-12"></div>
        </div>
    </div>
</div>