<% extend ('../../admin_layout')%>
<link rel="stylesheet" type="text/css" href="/public/bootstrap/custom.css" />
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="metismenu-icon fa fa-user icon-gradient bg-mean-fruit"></i>
            </div>
            <div class="row">
                <%= typeText %> Detail
            </div>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title"><%= user.fname %>'s Detail</h5>
        <div class="container emp-profile">
            <form method="post">
                <input type="hidden" value="<%= user.id %>" id="userId" />
                <input type="hidden" value="<%= user.role %>" id="userRole" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <% if(user.image && user.image.length>1){%>
                            <img src="<%= user.image %>" alt="" class="img-round img-thumbnail"
                                style="border-radius: 50%; width: 200px;" />
                            <%} else {%>
                            <img src="/public/images/user.jpg" alt="" class="img-round img-thumbnail"
                                style="border-radius: 50%; width: 200px;" />
                            <%}%>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h5>
                                <%=user.fname%><%=user.lname%>
                            </h5>
                            <h6>
                                <%=user.email%>
                            </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                        aria-controls="home" aria-selected="true">Products</a>
                                </li>
                                <li class="nav-item" style="<%= user.role === 1 ? "display: none;" : ""%>">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                        aria-controls="profile" aria-selected="false">Donations</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>Personal Information</p>
                            <a href=""> <%=user.fname%><%=user.lname%></a><br />
                            <a href=""><%=user.phone%></a><br />
                            <a href=""><%=user.email%></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <table class="mb-0 table table-bordered" id="userProducts">
                                    <thead>
                                        <tr>
                                            <th>NAME</th>
                                            <th>CATEGORY</th>
                                            <th>QUANTITY</th>
                                            <th>CONTACT</th>
                                            <th>DETAILS</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <table class="mb-0 table table-bordered" id="userDonations">
                                    <thead>
                                        <tr>
                                            <th>NGO NAME</th>
                                            <th>AMOUNT</th>
                                            <th>DATE TIME</th>
                                            <th>PROVIDER NAME</th>
                                            <th>ACCOUNT HOLDER NAME</th>
                                            <th>ACCOUNT NUMBER</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/public/js/admin/userDetail.js"></script>